In [17]:
import pandas as pd
import numpy as np
import os
import random

In [2]:
src_path = "./Kyoto/Kyoto2016/"
years = ["2006","2007","2008","2009","2010","2011","2012","2013","2014","2015"]
target_path = './Kyoto/kyoto_processed/parse'

bins = [1.1 ** i - 1 for i in range(233)]
bins[0] -= 0.01
bins[-1] += 0.01
# print(bins)

In [3]:
year = "2006"
df_year = pd.DataFrame()
print("Parsing: "+ year)
months = sorted(os.listdir(os.path.join(src_path,year)))
for month in months:
    ds_entries = []
    print(month)
    filenames = os.listdir(os.path.join(src_path,year,month))
    filenames = sorted(filenames)
    for filename in filenames:
        filepath = os.path.join(src_path,year,month,filename)
        with open(filepath,'r') as f:
            lines = f.read().splitlines()
            line_items = []
            for l in lines:
                lsplit = l.split("\t")
                timestamp = year + "_" + month + "_" + lsplit[-2]
                protocol = lsplit[-1]
                line_items.append(lsplit[:18] + [timestamp, protocol])

            ds_entries += line_items
    df_month = pd.DataFrame(ds_entries)
    
    for col in [0, 2, 3]:
        num_bins = len(bins)
        bin_names = ["c" + str(col).replace(" ", "") + str(idx) for idx in range(num_bins - 1)]
        df_month[col] = pd.cut(df_month[col].astype(float),bins=bins,labels=bin_names,).astype(str)
    
    df_year = pd.concat([df_year, df_month])

Parsing: 2006
11
12

In [20]:
df_year.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,c035,smtp,c284,c354,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,1,2006_11_00:00:09,tcp
1,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2006_11_00:00:14,udp
2,c0119,other,c2130,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2006_11_00:00:15,udp
3,c083,other,c2101,c3102,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTOS0,0,0,0,-1,2006_11_00:00:16,tcp
4,c018,smtp,c294,c357,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,1,2006_11_00:00:17,tcp

In [23]:
a = [3,4,5]
df_year.iloc[a]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
3,c083,other,c2101,c3102,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTOS0,0,0,0,-1,2006_11_00:00:16,tcp
4,c018,smtp,c294,c357,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,1,2006_11_00:00:17,tcp
5,c097,other,c283,c385,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,-1,2006_11_00:00:46,tcp

In [9]:
set(list(df_year[17].values))

{'-1', '-2', '1'}

In [24]:
p_test = 0.1
random_state = 10

num_samples = df_year.shape[0]
all_indexes = list(range(num_samples))
random.seed(random_state)
test_indexes = sorted(random.sample(all_indexes,int(p_test*num_samples)))
train_indexes = sorted(list(set(all_indexes)-set(test_indexes)))
df_year_train = df_year.iloc[train_indexes]
df_year_test = df_year.iloc[test_indexes]

In [25]:
df_year_train.shape

(3724110, 20)

In [26]:
df_year_train = df_year_train[df_year_train[17]=='1']
df_year_train.shape

(225230, 20)

In [27]:
df_year_test.shape

(413789, 20)

In [28]:
df_year_train.columns = [str(item) for item in range(20)]
df_year_test.columns = [str(item) for item in range(20)]
df_year_train.to_parquet(os.path.join(target_path,f'{year}_train.parquet'))
df_year_test.to_parquet(os.path.join(target_path,f'{year}_test.parquet'))

In [3]:
ds_year ='2007'
ds_year_month ='01'
ds_year_month_day = '01'
filename = os.path.join(ds_path,ds_year,ds_year_month,ds_year+ds_year_month+ds_year_month_day+'.txt')

In [4]:
os.path.exists(filename)

True

In [5]:
with open(filename,'r') as f:
    lines = f.read().splitlines()
    line_items = []
    for l in lines:
        lsplit = l.split("\t")
        timestamp = ds_year + "_" + \
            ds_year_month + "_" + lsplit[-2]
        protocol = lsplit[-1]
        line_items.append(lsplit[:18] + [timestamp, protocol])
df_yr_mt = pd.DataFrame(line_items)

In [6]:
df_yr_mt

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,86364.573924,other,240680,0,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:18,udp
1,0.000000,other,0,0,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,60(2),-2,2007_01_00:00:27,udp
2,0.003340,other,48,48,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,-1,2007_01_00:00:53,udp
3,0.000000,other,0,0,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:57,udp
4,0.311797,other,0,0,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTO,0,0,0,-1,2007_01_00:01:17,tcp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40471,0.004144,other,0,0,4,1.00,0.00,0.00,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:56,tcp
40472,0.002647,other,0,0,3,1.00,0.00,0.00,88,88,0.01,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:57,tcp
40473,0.000000,other,0,0,0,0.00,0.00,0.00,49,49,1.00,1.00,1.00,S0,0,0,0,-1,2007_01_23:59:58,udp
40474,0.003145,other,0,0,3,1.00,0.00,0.25,88,88,0.00,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp
40475,0.006645,other,0,0,4,1.00,0.00,0.20,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp

In [7]:
for col in [0, 2, 3]:
    num_bins = len(bins)
    bin_names = [
        "c" + str(col).replace(" ", "") + str(idx)
        for idx in range(num_bins - 1)
    ]
    df_yr_mt[col] = pd.cut(
        df_yr_mt[col].astype(float),
        bins=bins,
        labels=bin_names,
    ).astype(str)

df_yr_mt

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,c0119,other,c2130,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:18,udp
1,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,60(2),-2,2007_01_00:00:27,udp
2,c00,other,c240,c340,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,-1,2007_01_00:00:53,udp
3,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:57,udp
4,c02,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTO,0,0,0,-1,2007_01_00:01:17,tcp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40471,c00,other,c20,c30,4,1.00,0.00,0.00,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:56,tcp
40472,c00,other,c20,c30,3,1.00,0.00,0.00,88,88,0.01,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:57,tcp
40473,c00,other,c20,c30,0,0.00,0.00,0.00,49,49,1.00,1.00,1.00,S0,0,0,0,-1,2007_01_23:59:58,udp
40474,c00,other,c20,c30,3,1.00,0.00,0.25,88,88,0.00,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp
40475,c00,other,c20,c30,4,1.00,0.00,0.20,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp

In [19]:
save_path = os.path.join(target_path,ds_year,ds_year_month)
if not os.path.exists(save_path):
    os.makedirs(save_path)
df_yr_mt.columns = [str(item) for item in range(20)]
df_yr_mt.to_parquet(os.path.join(save_path,ds_year+ds_year_month+ds_year_month_day+'.parquet'))

In [20]:
df_yr_mt

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,c0119,other,c2130,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:18,udp
1,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,60(2),-2,2007_01_00:00:27,udp
2,c00,other,c240,c340,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,-1,2007_01_00:00:53,udp
3,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:57,udp
4,c02,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTO,0,0,0,-1,2007_01_00:01:17,tcp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40471,c00,other,c20,c30,4,1.00,0.00,0.00,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:56,tcp
40472,c00,other,c20,c30,3,1.00,0.00,0.00,88,88,0.01,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:57,tcp
40473,c00,other,c20,c30,0,0.00,0.00,0.00,49,49,1.00,1.00,1.00,S0,0,0,0,-1,2007_01_23:59:58,udp
40474,c00,other,c20,c30,3,1.00,0.00,0.25,88,88,0.00,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp
40475,c00,other,c20,c30,4,1.00,0.00,0.20,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp

In [22]:
parquet = pd.read_parquet(os.path.join(save_path,ds_year+ds_year_month+ds_year_month_day+'.parquet'))

In [23]:
parquet

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,c0119,other,c2130,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:18,udp
1,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,60(2),-2,2007_01_00:00:27,udp
2,c00,other,c240,c340,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,SF,0,0,0,-1,2007_01_00:00:53,udp
3,c00,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,S0,0,0,0,-1,2007_01_00:00:57,udp
4,c02,other,c20,c30,0,0.00,0.00,0.00,0,0,0.00,0.00,0.00,RSTO,0,0,0,-1,2007_01_00:01:17,tcp
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40471,c00,other,c20,c30,4,1.00,0.00,0.00,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:56,tcp
40472,c00,other,c20,c30,3,1.00,0.00,0.00,88,88,0.01,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:57,tcp
40473,c00,other,c20,c30,0,0.00,0.00,0.00,49,49,1.00,1.00,1.00,S0,0,0,0,-1,2007_01_23:59:58,udp
40474,c00,other,c20,c30,3,1.00,0.00,0.25,88,88,0.00,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp
40475,c00,other,c20,c30,4,1.00,0.00,0.20,88,88,0.02,0.00,0.00,REJ,0,0,0,-1,2007_01_23:59:58,tcp

In [41]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
fit = enc.fit(parquet.loc[:,['0','2','3']])
a = enc.transform(parquet.loc[:,['0','2','3']]).toarray()

In [42]:
enc = OneHotEncoder(handle_unknown='ignore')
fit = enc.fit(parquet.loc[:,['0','2','3']])
b = enc.transform(parquet.loc[:,['0','2','3']]).toarray()

In [43]:
a.all()==b.all()

True

In [44]:
(a==b).sum()==a.shape[0]*a.shape[1]

True